.route-anchor {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.layout-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}